<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">We are not mere geeks. We are masters of the universe. Well, sort of...</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Social Media</h4>
                    <p class="text-muted">Daily life without social media is unthinkable. Investing in engaging content creation and a quality social media identity on Facebook, Twitter, Instagram and others is of the utmost importance. Time to catch the train! </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Web Design</h4>
                    <p class="text-muted">Creating quality website demands a team of specialists. People who breathe code, content marketing, SEO and flawless design. From the very start user needs should be considered in a device agnostic environment. That mobile devices should be considered is not even to be argued anymore.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Analytics</h4>
                    <p class="text-muted">Every succesfull project is driven by data. Lots of it. By using Google Analytics we gather statistics to measure the succes (or failure, that happens too sometimes) of our projects. Always with a clear goal in mind: making it the best project till date.</p>
                </div>
            </div>
        </div>
    </section>